<phpunit bootstrap="../bootstrap.php">
    <testsuites>
        <testsuite name="home">
            <directory>WebinoDraw/HomeTest.php</directory>
            <directory>WebinoDraw/HeavyTest.php</directory>
            <directory>WebinoDraw/XmlTest.php</directory>
        </testsuite>
    </testsuites>
</phpunit>
