<phpunit bootstrap="bootstrap.php">
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>../src</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="unit">
            <directory>WebinoDraw</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>functional/WebinoDraw</directory>
        </testsuite>
    </testsuites>
</phpunit>
